<h1>Usinas Elétricas</h1>

<app-update-power-plant
  *ngIf="powerPlantForUpdate"
  (finishUpdatePowerPlant)="powerPlantForUpdate=undefined"
  [powerPlant]="powerPlantForUpdate"
>
</app-update-power-plant>

<table class="list__table">
    <thead class="table__header">
        <th>Código</th>
        <th>Nome</th>
        <th>Valor de Geração</th>
        <th>Área Eletrica</th>
        <th>Ações</th>
    </thead>
    <tbody class="table__body" *ngIf="powerPlants.length == 0">
        <td colspan="3">Nenhum resultado encontrado!</td>
    </tbody>
    <tbody class="table__body" *ngFor="let powerPlant of powerPlants">
      <tr>
        <td>{{ powerPlant.code }}</td>
        <td>{{ powerPlant.name }}</td>
        <td>{{ powerPlant.available_energy }}</td>
        <td>{{ powerPlant.code_eletrical_area}}</td>
        <td>
          <button
                  [disabled]="powerPlantForUpdate"
                  (click)="update(powerPlant)"
                  data-message="Editar">
            <i class="fas fa-pen"></i>
          </button>
          <button
                  [disabled]="powerPlantForUpdate"
                  (click)="remove(powerPlant)"
                  data-message="Remover">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
        </tbody>
</table>

<button>
    <a routerLink="/create-power-plant">Nova usina elétrica</a>
</button>
