a {
    all: unset;
}

.table__header, .table__body {
    display: flex;

    border: 1px solid black;
    margin-bottom: 5px;
}

.table__body {
    flex-direction: column;
    gap: 5px;
}

.table__row {
    display: flex;
    gap: 50px;
}

td, th {
    min-width: 50px;
}