<h1>Áreas Elétricas</h1>
<div class="new__item">
    <button class="blue__button">
        <a routerLink="/create-area">Nova área elétrica</a>
    </button>
</div>

<table class="list__table">
    <thead class="table__header">
        <tr class="table__row">
            <th class="table__item">Código</th>
            <th class="table__item">Nome</th>
            <th class="table__item">Energia disponível</th>
            <th class="table__item" colspan="2">Ações</th>
        </tr>
    </thead>
    <tbody class="table__body" *ngIf="eletricalAreas.length == 0">
        <tr class="table__row">
            <td colspan="3">Nenhum resultado encontrado!</td>
        </tr>
    </tbody>
    <tbody class="table__body" >
        <tr *ngFor="let area of eletricalAreas" class="table__row">
            <td class="table__item">{{ area.code }}</td>
            <td class="table__item">{{ area.name }}</td>
            <td class="table__item">{{ area.available_energy }}</td>
            <td class="table__item" colspan="2">
                <button class="icon__button" (click)="edit(area)">
                    <i class="fa-regular fa-pen-to-square"></i>
                </button>
                <button class="icon__button" (click)="delete(area.code)">
                    <i class="fa-regular fa-trash-can"></i> 
                </button>
            </td>
        </tr>
    </tbody>
</table>
