<h1 class="page__title">Cadastro de Áreas Elétricas</h1>

<form [formGroup]="form" (ngSubmit)="submit()">
    <fieldset>
        <div class="form__field">
            <label for="name" class="form__label">Nome</label>
            <input 
                id="name" 
                type="text" 
                class="form__input" 
                formControlName="name"
                maxlength="100">
            <span class="form__error" *ngIf="form.controls.name.invalid && !form.controls.name.pristine">
                Este campo deve conter entre 3 e 100 caracteres
            </span>
        </div>
        <div class="form__field">
            <label>Usinas disponíveis</label>
            <p *ngIf="powerPlants.length === 0">Nenhuma usina está disponível!</p>
            
            <table class="form__table">
                <thead class="table__head">
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Energia Disponível</th>
                    <th>Ações</th>
                </thead>

                <tbody class="table__body" *ngFor="let powerPlant of powerPlants; let i = index">
                    <td>{{ powerPlant.code }}</td>
                    <td>{{ powerPlant.name }}</td>
                    <td>{{ powerPlant.available_energy }}</td>
                    <td>
                        <input
                            type="checkbox" 
                            name="power_plant_selected" 
                            formArrayName="power_plants" 
                            [value]="powerPlant.code"
                            (change)="onCheckboxChange($event)">
                    </td>
                </tbody>
            </table>

        </div>
        <div class="form__field">
            <button>
                <a routerLink="/list-areas">Cancelar</a>
            </button>
            <button type="submit">Salvar</button>
        </div>
    </fieldset>
</form>