<h1 class="page__title">Cadastro de Áreas Elétricas</h1>

<form [formGroup]="form" (ngSubmit)="submit()">
    <fieldset>
        <div class="form__field">
            <label for="name" class="form__label">Nome</label>
            <input 
                id="name" 
                type="text" 
                class="form__input" 
                formControlName="name"
                maxlength="100">
            <span class="error__message" *ngIf="form.controls.name.invalid && !form.controls.name.pristine">
                Este campo deve conter entre 3 e 100 caracteres
            </span>
        </div>
        
        <div class="button__field">
            <button class="red__button">
                <a routerLink="/list-areas">Cancelar</a>
            </button>
            <button type="submit" class="green__button">Salvar</button>
        </div>
    </fieldset>
</form>