<h1>Equipamentos Elétricos</h1>
<app-update-equipment *ngIf="eletricalEquipmentForUpdate"
                      (finishUpdateEquipament)="eletricalEquipmentForUpdate=undefined"
                      [eletricalEquipment]="eletricalEquipmentForUpdate">
</app-update-equipment>
<table class="list__table">
  <thead class="table__header">
  <th>Código</th>
  <th>Nome</th>
  <th>Tipo</th>
  <th>Usina</th>
  <th>Ações</th>
  </thead>
  <tbody class="table__body" *ngIf="eletricalEquipments.length == 0">
  <td colspan="3">Nenhum resultado encontrado!</td>
  </tbody>
  <tbody class="table__body" *ngFor="let eletricalEquipment of eletricalEquipments">
    <tr>
      <td>{{ eletricalEquipment.code }}</td>
      <td>{{ eletricalEquipment.name }}</td>
      <td>{{ eletricalEquipment.type }}</td>
      <td>{{ eletricalEquipment.code_power_plant}}</td>
      <td>
        <button [disabled]="eletricalEquipmentForUpdate"
                (click)="update(eletricalEquipment)"
                data-message="Editar">
          <i class="fas fa-pen"></i>
        </button>
        <button [disabled]="eletricalEquipmentForUpdate"
                (click)="remove(eletricalEquipment)"
                data-message="Remover">
          <i class="fas fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<button>
  <a routerLink="/create-equipment">Novo equipamento elétrico</a>
</button>
